#map {
    width: 60%;
    height: 500px;
    background-color: grey;
    float: left;
}

#form-control {
    width: 20%;
    height: 500px;
    float: left;
    margin-left: 3%;
}

#display {
    display: block;
}

#crime {
    display: block;
}

#radius {
    display: block;
}